/* Réinitialisation */
body {
  margin: 0;
  font-family: sans-serif;
}

/* HEADER fixé */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: height 0.3s ease;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px; /* Hauteur initiale */
  background-color: rgb(0, 0, 100);
  transition: height 0.3s ease, background-color 0.3s ease;
}

/* Liens */
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: white;
  color: rgb(0, 0, 100);
}

/* Au scroll */
#main-header.shrink nav {
  height: 60px;
  background-color: white;
}

#main-header.shrink nav a {
  color: rgb(0, 0, 100);
}


test{
    background-image: url("../img/sea.jpg"); /* lien vers l’image */
  background-size: cover; /* adapte la taille */
  background-position: center; /* centre l’image */
    
    
    background-image: none;   /* supprime l’image pour plus de lisibilité */


}
