html {
    background-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}


/*----------------------------------------------------------------------------------------------------*/


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: height 0.3s ease;
}

.header-nav {
  display: flex;
  text-align: center;    
  justify-content: space-evenly;
  align-items: center;
  height: 100px; /* Hauteur initiale */
  background-image: url("../img/sea.jpg");
  background-size: cover;
  background-position: center;
  transition: height 0.3s ease, background-color 0.3s ease, background-image 0.3s ease;
  position: relative;
}

.header-nav a {
  flex: 1; 
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;  
}

.header-nav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 100);
}

header.shrink .header-nav {
  height: 60px;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-bottom: 2px solid rgb(0, 0, 100);
}

header.shrink .header-nav a {
  color: rgb(0, 0, 100);
  font-size: 1.0em;
}

.header-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/sea.jpg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 2s ease;
  z-index: -1; /* Derrière les liens */
}

header.shrink .header-nav::before {
  opacity: 0;
}


/*----------------------------------------------------------------------------------------------------*/


main section {
    max-width: 1200px;
    margin-top: 20px; /*Marge du haut*/
    margin-bottom: 20px; /*Marge du bas*/
    margin-inline: auto; /*Marge sur le côté, auto pour être au centre*/
    background-color: rgb(60, 120, 255);
    padding: 20px; /*Espace autour de des éléments dans section*/
    border-radius: 10px;
}


/*----------------------------------------------------------------------------------------------------*/


#accueil-1-section {
  background-color: rgb(255, 255, 255);
  margin-top: 120px;
}


#accueil-2-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;      /* aligne verticalement */
  gap: 50px;                /* espace entre l’image et le texte */
  padding: 0px;
}

.section-image {
  width: 250px;     /* largeur fixe */
  height: auto;     /* conserve les proportions */
  border-radius: 10px;
}

#accueil-2-section-div {
  flex: 1;                  /* prend le reste de la place */
}


#accueil-3-section {
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  border-color: rgb(0, 0, 100);
  border-radius: 10px;


}


/*----------------------------------------------------------------------------------------------------*/

.filtres {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 20px;
      align-items: center;
    }

    .filtres label {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .grille-animaux {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    .animal {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
    }

    .animal img {
      width: 100%;
      height: auto;
      border-radius: 6px;
    }

    button#reset-filtres {
      padding: 5px 10px;
      background-color: crimson;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }



    

/*----------------------------------------------------------------------------------------------------*/


main section p{
    text-align: center;
}




main a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

main a:hover {
    background-color: rgb(0, 191, 255); 
}



div {
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-inline: auto;
    background-color: rgb(60, 100, 255);
    padding: 10px; 
    border-radius: 10px;
}


#definition, #citation {
    font-style: italic;
    text-align: center;
}


/*----------------------------------------------------------------------------------------------------*/


footer {
  background-color: rgb(30, 30, 30);
  border-top: 2px solid rgb(0, 0, 100);
  color: rgb(220, 220, 220);
  font-family: sans-serif;
  margin: 0px;
  padding: 0px; 
}

#footer-1-section {
  margin: 0px;
  padding: 10px; 
  text-align: center;
}

#footer-2-section {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.footer-2-div {
  background-color: rgb(60, 60, 60);
  border: 2px solid;
  border-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-sizing: border-box;
  flex: 1;
  margin-inline: 10px;
  padding: 10px 20px;; 
}

.footer-2-div h3 {
    text-align: center;
}

#footer-3-section {
  font-size: 0.8em;
  margin: 0px;
  padding: 10px; 
  text-align: center;
}


footer ul {
  list-style: none;
}

footer a {
  text-decoration-line: underline;
  color: rgb(255, 255, 255);
}

footer a:hover {
  color: rgb(255, 0, 0);
}


/*----------------------------------------------------------------------------------------------------*/


main h1 {
  color: rgb(255, 0, 0);
  font-size: 2.0em;
  font-weight: bold;
  text-align: center;
}

main h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

main h3 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}

main p {
  text-align: justify;
}

.right {
  text-align: right;
}


/*----------------------------------------------------------------------------------------------------*/

